body{
    background-color: white;
}
#wrapper {
    width: 1200px
    margin-left: auto;
    margin-right: 
    padding: 1em;
}
header{
    
    background-color: rgba(238, 237, 237, 0.859);
    background-image: url("images/viola.jpeg");
    background-repeat: no-repeat;
    background-position: top right;
    padding:2em;

}
.banner-text{
    font-size: 1.2 rem;
    width: 30%;
    color:black
}
.btn{
    display: block;
    background-color: darkred;
    color:white;
    padding:10px;
    width:5em;
    text-align: center;
    text-transform: uppercase;
}


.flex-layout{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    margin: 1em;
}
