body{
    background-color: black;
}
#wrapper {
    width: 1200px
    margin-left: auto;
    margin-right: 
    padding: 1em;
}
header{
    background-color: black;
    background-image: 
    background-repeat: no-repeat;
    background-position: top right;

}